svg#demo(viewBox='0 0 1600 600',preserveAspectRatio='xMidYMid slice')
  defs
    linearGradient#grad1(x1=0,y1=0,x2=1,y2=0,color-interpolation='sRGB')
      stop#stop1a(offset='0%',stop-color='#12a3b4')
      stop#stop1b(offset='100%',stop-color='#ff509e')
    linearGradient#grad2(x1=0,y1=0,x2=1,y2=0,color-interpolation='sRGB')
      stop#stop2a(offset='0%',stop-color='#e3bc13')
      stop#stop2b(offset='100%',stop-color='#00a78f')
  rect#rect1(x=0,y=0,width=1600,height=600,stroke='none',fill='url(#grad1)')
  rect#rect2(x=0,y=0,width=1600,height=600,stroke='none',fill='url(#grad2)')